.footer {
  padding: rem(10) 0;
  background-color: $footer-background-color;

  // .footer__container
  &__container {
    display: flex;
    align-items: center;

    @include media-mx(510) {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu {
      &__list {
        padding: 0;
      }

      &__item {
        font-size: rem(18);

        border-bottom: none;
      }
    }
  }
}
