.header {
  width: 100%;
  transition: background-color var(--bs-transition);
  z-index: 50;

  background-color: $header-background-color;

  .header-is-sticky & {
    // ..стили для липкого хедера
    position: fixed;
    background-color: #007aff;
  }

  // .header__container
  &__container {
    padding: rem(16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: rem(24);

    .header-is-sticky & {
      height: rem($headerHeight - 50);
    }
  }

  &__location {
    display: flex;
    flex-direction: column;
    gap: rem(12);

    span:nth-child(1) {
      font-size: rem(20);
      font-weight: 600;

      color: $text-color-primary;

      transition: $standartTrans;

      &:hover {
        color: $text-color-primary-hover;
      }
    }

    span:nth-child(2) {
      padding-left: rem(20);
      background-image: url('@img/svg/location.svg');
      background-size: rem(12);
      background-position: left;
      background-repeat: no-repeat;

      color: $text-color-primary;

      transition: $standartTrans;

      &:hover {
        color: $text-color-primary-hover;
      }
    }
  }

  &__menu {
    width: 100%;
  }

  &__border {
    width: 100%;
    height: rem(1);

    background-color: $header-border-color;
  }
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: rem(16);

  &__title {
    align-self: flex-end;

    display: flex;
    flex-direction: column;

    color: $text-color-hint;

    span:nth-child(1) {
      font-size: rem(24);
      font-weight: 600;
      letter-spacing: rem(10);
    }

    span:nth-child(2) {
      font-size: rem(14);
      // letter-spacing: rem(10);
    }
  }
}

// Burger

.icon-menu {
  display: none;

  @include media-mx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: '';
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
