<div class="contacts">
  <div class="contacts__info-wrapper">
    <a class="contacts__phone" href="tel:+375297316481">+375 (29) 731-64-81</a>
    <a class="contacts__viber" href="viber://chat?number=%2B375297316481">
      <img src="@img/svg/viber.svg" alt="" class="" width="24px" height="24px" />
    </a>
    <a class="contacts__whatsapp" href="https://wa.me/375297316481">
      <img src="@img/svg/whatsapp.svg" alt="" class="" width="24px" height="24px" />
    </a>
  </div>
  <a class="contacts__email" href="mailto:AndreiKrautsouGit@yandex.ru">AndreiKrautsouGit@yandex.ru</a>
</div>
