<form class="form" action="">
  <h2 class="form__title">
    Заполните форму
    <span>Наш специалист скоро свяжется с вами</span>
  </h2>
  <label for="name">
    <input class="form__input" id="name" type="text" name="name" placeholder="Ваше имя" />
  </label>
  <label for="phone">
    <input class="form__input" id="phone" type="text" name="phone" placeholder="Номер телефона" />
  </label>
  <div class="form__button">
    <button class="button button-close" type="submit"><span>Отправить</span></button>
  </div>
</form>
