$mainOffset: 15; // отступы безопасности для контейнера
$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$containerWidth: 1160; // ширина контейнера из макета
$maxWidthContainer: $containerWidth + ($mainOffset * 2); // ширина контейнера с учетом padding слева и справа

$headerHeight: 100;
$footerHeight: 100;

$standartTrans: all 280ms;

:root {
  --bs-font-family: 'Inter', sans-serif; // Семейство шрифта по умолчанию
  --bs-font-size: 16px; // Размер шрифта по умолчанию
  --bs-font-weight: 400; // Жирность шрифта по умолчанию
  --bs-line-height: 1; // Базовая высота шрифта
  --bs-font-color: #222; // Цвет шрифта по умолчанию
  --bs-transition: .3s ease-in-out;
  --bs-radius: 10px;

  --primary-color: #131313;
  --primary-hover-color: #5b5858;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --color-merino: #f7efe8;
  --color-red-damask: #dc7a43;
  --color-nobel: #bcb6b6;

  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%),
                  0 0 10px 0 rgba(#000, 10%),
                  0 0 15px 0 rgba(#000, 10%);
}

$text-color-primary: var(--primary-color);
$text-color-primary-hover: var(--primary-hover-color);
$text-color-hint: var(--color-red-damask);

$link-menu-hover: var(--color-red-damask);

$header-border-color: var(--color-nobel);
$header-background-color: var(--color-merino);

$sale-border-color: rgba(#000, 10%);
$sale-box-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%), 0 0 15px 0 rgba(#000, 10%);
$sale-box-shadow-hover: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$button-backgrount: var(--color-red-damask);
$button-text: var(--white-color);
$button-background-disabled: var(--primary-hover-color);